<%- include('header'); -%>

   <div class="box" id="heading">
      <h1>
         <%= dayOfWeek %>
      </h1>
   </div>

   <div class="box">
      <% for (var i=0; i<addNewTask.length; i++){ %>
         <div class="item">
            <input type="checkbox">
            <p>
               <%= addNewTask[i] %>
            </p>
         </div>
         <% } %>
            <form class="item" action="/" method="post">
               <input type="text" name="newTask" placeholder="Add Task Here.." autocomplete="off">
               <button type="submit">+</button>
            </form>
   </div>


   </body>

   </html>

